<p>example works!</p>
<h1> hi najwa</h1>
<br>
<!-- <h1>hello....{{Name}}</h1>
<h2>{{num}}</h2>
<h2>100+200={{100+200}}</h2>
<h2>sum:{{num+num}}</h2>
<h2>length is:{{Name.length}}</h2>
<h2>{{Name.toUpperCase()}}</h2>
<h2>{{display()}}</h2> -->

 <!-- <input type="text" value="welcome">
 <br> -->
 <!-- property binding -->
 <!-- <input type="text "[value]="name"> -->
 <!-- dynamic binding or angualr interpolation -->
  <!-- <br>
<input type="text" value="{{name}}"> -->
<!-- class binding -->
 <!-- <h1 class="danger">Class danger</h1>
 <br>
 <h1 class="success">{{name}}</h1>
<br> -->
<!-- color binding -->
<!-- <h1 [class]="dclass">{{name}}</h1> -->
<!-- event binding -->
 <!-- <br>
 {{buttonstatus}}
<br>
<button (click)="display()">click me</button> -->
<!-- <input type="text" [(ngModel)]="msg">
<br>
<input type="text" [(ngModel)]="msg"> -->
<!-- <button (click)="display()">click me</button>
<p *ngIf="check">condition is true ..if case is working</p>
<p *ngIf="!check">condition is false...else case is working</p> -->
<!-- <div *ngIf="check; else d1">
helloooo...</div>
<ng-template #d1>
    <p>hai good morning</p>
</ng-template> -->
<!-- <ng-template [ngIf]="check" [ngIfElse]="d1">hellooooooo</ng-template>
<ng-template #d1><p> hai.. good morning-welcome</p></ng-template> -->
<!-- <ul>
  <li *ngFor="let item of stlist">
  {{item.id}},{{item.name}},{{item.mark}}
</li>
</ul> -->
<!-- <container-element [ngSwitch]="today">
  <span *ngSwitchCase="0"><h1>sunday</h1></span>
    <span *ngSwitchCase="1"><h1>monday</h1></span>
  <span *ngSwitchCase="2"><h1>tuesday</h1></span>
  <span *ngSwitchCase="3"><h1>wednesday</h1></span>
  <span *ngSwitchCase="4"><h1>thursday</h1></span>
  <span *ngSwitchCase="5"><h1>friday</h1></span>

</container-element> -->
<p>total:{{amount||currency}}</p>
